events*.*
codes/options/__pycache__/
codes/models/__pycache__/
codes/models/MPNCOV/__pycache__/
codes/models/modules/__pycache__/
codes/utils/__pycache__/
codes/models/MPNCOV/__pycache__/
codes/models/MPNCOV/python/__pycache__/
codes/data/__pycache__/